.card-deck-scroll {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 15px;
    position: relative;
}

.card-deck-scroll .card {
    flex: 0 0 auto;
    margin-right: 15px;
    width: 300px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    cursor: pointer;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.scroll-btn-left {
    left: 0;
}

.scroll-btn-right {
    right: 0;
}

.card-deck-scroll::-webkit-scrollbar {
    display: none;
}

.card-deck-scroll .card-body {
    overflow-y: auto;
    max-height: 100%;
}

.card-expanded .card-body {
    overflow-y: auto;
    max-height: none;
}

.read-more-btn {
    cursor: pointer;
}

.card-deck-scroll:hover .scroll-btn {
    opacity: 1;
}

.card-deck-scroll .scroll-btn:active {
    opacity: 0.5;
}

.card-deck-scroll .card-deck {
    flex-wrap: nowrap;
}

.card-deck-scroll .card {
    min-width: 18rem;
}

.card-deck-scroll .card-body {
    overflow-y: hidden;
    max-height: 100%;
    white-space: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 65%;
}

.content {
    flex-grow: 1;
}

.footer {
    height: 60px; /* Altura del footer */
    background-color: #f2f2f2;
    padding: 10px;
}

#calendar {
    margin: 0 auto; /* Centra el calendario horizontalmente */
}




